
#snap{
    position: relative;
    right: -17%;
    bottom: -100px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: indianred;
    color: yellow;
    font-size: 20px;
    
}

#snap:hover{
    background-color: forestgreen;
}